<div>
    <h3>Sign in:</h3>
    <form ng-submit="signIn()">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" ng-model="form.userName" required/>
        </div>
        <div class="form-group">
            <label for="pass">Password:</label>
            <input type="password" class="form-control" id="pass" ng-model="form.password" required/>
        </div>

        <button type="submit" class="btn btn-primary pull-right">Sign in</button>
    </form>
</div>
