<div>
    <h1>Pending Trades:</h1>
    <div class="trades">
        <span ng-repeat="trade in userTrades.trades.pendingTrades">
            <span ng-show="trade.isBorrower" class="image-text-on-top">
                <img ng-src="{{userTrades.books[trade.user_book].img_url}}" class="book-img book-borrower"/>
                <span ><a ng-click="denyTrade($index)" class="dismiss-book"><i class="fa fa-times"></i></a></span>
             </span>
            <span ng-show="!trade.isBorrower" class="image-text-on-top">
                <img ng-show="!trade.isBorrower" ng-src="{{userTrades.books[trade.user_book].img_url}}" class="book-img book-owner"/>
                <span><a ng-click="acceptTrade($index)" class="accept-trade"><i class="fa fa-check"></i></a></span>
            </span>

        </span>
    </div>
    <h1>On-going Trades:</h1>
    <div class="trades">
        <span ng-repeat="trade in userTrades.trades.acceptedTrades">
            <img ng-src="{{userTrades.books[trade.user_book].img_url}}" class="book-img" ng-class="trade.isBorrower ? 'book-borrower' : 'book-owner'"/>
        </span>
    </div>
</div>
<div>
    <h1>My Books:</h1>
    <form ng-submit="addBook()">
        <input type="text" placeholder="Add Book" ng-model="form.bookName"/>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
    <div class="added-books">
        <span ng-repeat="book in userBooks">
            <span class="image-text-on-top">
                <img ng-src="{{book.img_url}}" class="book-img"/>
                <span><a ng-click="removeBook($index)" class="dismiss-book">X</a></span>
            </span>
        </span>
    </div>
</div>
