<div>
    <h1>Settings:</h1>
    <form ng-submit="updateSettings()">
        <div class="form-group">
            <label for="fullName">Full Name:</label>
            <input type="text" class="form-control" id="fullName" ng-model="userDetails.fullName"/>
        </div>
        <div class="form-group">
            <label for="city">City:</label>
            <input type="text" class="form-control" id="city" ng-model="userDetails.city"/>
        </div>
        <div class="form-group">
            <label for="state">State:</label>
            <input type="text" class="form-control" id="state" ng-model="userDetails.state"/>
        </div>
        <button type="submit" class="btn btn-primary pull-right">Update</button>
    </form>
</div>
