.added-books {
    margin-top: 2em;
}

.book-img {
    margin: auto;
    border: 0.3em mediumseagreen solid;
    width: 9.2em;
    height: 14em;
}

.book-borrower {
    margin: auto;
    border: 0.3em orange solid;
    width: 9.2em;
    height: 14em;
}

.book-owner {
    margin: auto;
    border: 0.3em cadetblue solid;
    width: 9.2em;
    height: 14em;
}


.image-text-on-top {
    position: relative;
}

.image-text-on-top span {
    position: absolute;
    left: 0.5em;
    right: 0.5em;
    width: 90%;
    text-align: right;
}

.dismiss-book {
    color: red;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
}

.share-book {
    color: darkorange;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
}